<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
    <div class="container">
        <nav class="navbar navbar-light bg-light">
            <!-- 네비게이션 바 또는 로고 추가 -->
            <a class="navbar-brand" href="#">사이트 로고</a>
            <ul class="nav">
                <li class="nav-item"><a class="nav-link" href="/board">자유게시판</a></li>
                <li class="nav-item"><a class="nav-link" href="/chat">채팅방</a></li>
                <li class="nav-item"><a class="nav-link" href="/signup">회원가입</a></li>
                <li class="nav-item"><a class="nav-link" href="/login">로그인</a></li>
            </ul>
        </nav>
    </div>
</header>
</html>
